h1 {
    text-align: center;
}

.btn-group button {
    margin:auto;
    background-color: #1c85b6; 
    color: #fbfae3;
    border: 1px solid darkblue; 
    font-family: sans-serif;
    font-size: large;
    color: rgb(149, 236, 226); 
    padding: 19px 33px; 
    cursor: pointer; 
    width: 60%; 
    display:block;
}
  
.btn-group button:not(:last-child) {
    border-bottom: none; 
}
  

.btn-group button:hover {
    background-color: #b6b5eb;
}

#rooms {
    background-image: url(https://www.irvinestandard.com/images/2018/12/Aldrich-Park_1600.jpg);
    background-repeat: repeat;
}