h1 {
    text-align: center;
}

#booked {
    background-color:red;
    pointer-events: none;
}

.btn-group button {
    margin:auto;
    background-color: #7cc1e1; 
    border: 1px solid darkblue; 
    font-family: sans-serif;
    font-size: large;
    color: white; 
    padding: 19px 33px; 
    cursor: pointer; 
    width: 80%; 
    display:block;
}
  
.btn-group button:not(:last-child) {
    border-bottom: none; 
}
  

.btn-group button:hover {
    background-color: #e2d172;
}