h1 {
    text-align: center;
}

#resBack {
    background-image: url(https://media.istockphoto.com/id/1314054062/vector/abstract-simply-background-with-natural-line-arts.jpg?s=612x612&w=0&k=20&c=QtBb0IP9iQISX0jsNVdOgbX7VCrCfXWpA9uUMd9c4q4=);
}

h1 {
    color:rgb(18, 90, 38);
}



